@import "base/reset";
// @import 'base/fonts';
@import "base/mixins";
@import "base/variables";

#container {
  display: flex;
}
#searchSection {
  background-color: red;
  width: 900px;
  height: 900px;
}
#savedArticles {
  background-color: blue;
  width: 900px;
  height: 900px;
}
