@import "base/reset";
@import "base/fonts";
@import "base/mixins";
@import "base/variables";
body {
  background-image: url("../images/bg.jpg");
  #container {
    margin: 60px auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-transform: none;
    //background-color: rgba(0, 0, 0, 0.582);
    background-color: rgba(47, 47, 47, 0.815);
    border-radius: 10px;
    width: 1400px;
  }
  #searchArticlesHolder {
    position: relative;
    width: 45%;
    .active {
      color: red;
    }
    #SearchLoading {
      position: absolute;
      display: none;
      left: 45%;
      top: 25%;
      color: blue;
      z-index: 1000;
    }
    h1 {
      text-align: center;
      font-size: 40px;
      font-family: "Abril Fatface", cursive;
      padding: 30px;
      color: rgba(182, 181, 176, 0.959);
    }
    #form {
      display: flex;
      justify-content: space-between;
      width: 100%;
      text-align: center;
      box-shadow: unset;

      #submit {
        height: 40px;
        width: 15%;
        border-radius: 5px;
        border-color: transparent;
        outline: none;
        transition: 200ms;
        &:hover {
          background-color: rgba(182, 181, 176, 0.959);
          cursor: pointer;
        }
      }
      #field {
        width: 84%;
        height: 40px;
        border-radius: 5px;
        border-color: transparent;
        padding: 10px;
        outline: none;
        -webkit-box-shadow: inset 0 0 0px 9999px white;
        &:hover {
          background-color: rgba(182, 181, 176, 0.959);
          cursor: pointer;
        }
      }
    }
    #searchResults {
      margin-top: 20px;
      ul {
        li {
          width: 100%;
          position: relative;
          height: 175px;
          padding: 5px;
          border: 1px solid darkgray;
          background-color: rgba(182, 181, 176, 0.699);
          border-radius: 5px;
          margin-bottom: 10px;
          overflow: hidden;
          transition: 200ms;

          &:hover {
            background-color: rgba(182, 181, 176, 0.959);
          }
          h2 {
            font-family: "Abril Fatface", cursive;
            text-transform: capitalize;
            text-align: left;
            padding-left: 226px;
            margin-top: 15px;
          }
          p {
            font-family: sans-serif;
            padding: 13px;
            font-size: 16px;
            &:hover {
              cursor: pointer;
            }
          }

          img {
            width: 200px;
            height: 113px;
            display: block;
            float: left;
            margin-top: -15px;
            margin-left: 13px;
            margin-right: 13px;
            &:hover {
              cursor: pointer;
            }
          }
        }
      }
    }
  }
  #savedArticlesHolder {
    position: relative;
    width: 45%;
    #saveLoading {
      display: none;
      position: absolute;
      right: 50%;
      top: 25%;
      z-index: 1000;
      color: blue;
    }
    #savedResults {
      h1 {
        text-align: center;
        font-size: 40px;
        font-family: "Abril Fatface", cursive;
        padding: 30px;
        color: rgba(182, 181, 176, 0.959);
      }
      ul {
        margin-top: 60px;
        li {
          width: 100%;
          position: relative;
          height: 175px;
          padding: 5px;
          border: 1px solid darkgray;
          background-color: rgba(182, 181, 176, 0.699);
          border-radius: 5px;
          margin-bottom: 10px;
          overflow: hidden;
          transition: 200ms;
          &:hover {
            background-color: rgba(182, 181, 176, 0.959);
          }
          img {
            float: left;
            margin: 13px;
            &:hover {
              cursor: pointer;
            }
          }
          p {
            padding: 13px;
            font-size: 16px;
            &:hover {
              cursor: pointer;
            }
          }
          a {
            position: absolute;
            right: 5px;
            top: 5px;
            font-size: 20px;
            font-weight: bold;
            color: black;
          }
          h2 {
            font-family: "Abril Fatface", cursive;
            text-transform: capitalize;
            padding: 40px;
            &:hover {
              cursor: pointer;
            }
          }
        }
      }
    }
  }
  .searchArticle {
    a {
      position: absolute;
      right: 5px;
      top: 5px;
      font-size: 20px;
      font-weight: bold;
      color: black;
    }
    h2 {
      font-family: "Abril Fatface", cursive;
      text-transform: capitalize;
      &:hover {
        cursor: pointer;
      }
    }
  }
  @media only screen and (max-width: 1450px) {
    #container {
      width: 95%;
    }
  }
  @media only screen and (max-width: 1350px) {
    #container {
      width: 97%;
      #searchArticlesHolder {
        #searchResults {
          li {
            padding-top: 10px;
          }
        }
      }
      #savedArticlesHolder {
        #savedResults {
          li {
            padding-top: 10px;
          }
        }
      }
    }
  }
  @media only screen and (max-width: 1290px) {
    #container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      #searchArticlesHolder {
        width: 80%;
      }
      #savedArticlesHolder {
        width: 80%;
      }
    }
  }
  @media only screen and (max-width: 900px) {
    #container {
      #searchArticlesHolder {
        width: 90%;
      }
      #savedArticlesHolder {
        width: 90%;
      }
    }
  }
  @media only screen and (max-width: 775px) {
    #container {
      #searchArticlesHolder {
        width: 95%;
      }
      #savedArticlesHolder {
        width: 95%;
      }
    }
  }
  @media only screen and (max-width: 640px) {
    #container {
      #searchArticlesHolder {
        #searchResults {
          li {
            display: flex;
            flex-direction: column;
            align-items: center;
            height: auto;
            overflow: hidden;
            position: relative;
            transition: all 500ms;
            &:hover {
              p {
                display: block;
              }
            }
          }
          h2 {
            text-align: center;
            padding: 0px;
            margin-bottom: 20px;
          }
          p {
            display: none;
            position: absolute;
            bottom: 0px;
            left: 0px;
            text-align: center;
            background-color: rgba(138, 131, 131, 0.788);
          }
          img {
            width: 80%;
            height: 30%;
            margin-top: 0px;
            margin-left: 0px;
            margin-right: 0px;
            margin-bottom: 20px;
            border-radius: 5px;
          }
        }
      }
      #savedArticlesHolder {
        width: 95%;
        #savedResults {
          li {
            display: flex;
            flex-direction: column;
            align-items: center;
            height: auto;
            overflow: hidden;
            position: relative;
          }
          h2 {
            text-align: center;
            padding: 0px;
            margin-bottom: 20px;
          }
          img {
            width: 80%;
            height: 30%;
            border-radius: 5px;
          }
        }
      }
    }
  }
  @media only screen and (max-width: 440px) {
    #container {
      #searchArticlesHolder {
        h1 {
          font-size: 35px;
        }
        #form {
          display: flex;
          flex-direction: column;
          align-items: center;

          #field {
            width: 100%;
            margin-bottom: 10px;
          }
          #submit {
            width: 100%;
          }
        }
      }
      #savedArticlesHolder {
        h1 {
          font-size: 35px;
        }
      }
    }
  }
  @media only screen and (max-width: 340px) {
    #container {
      #searchArticlesHolder {
        #form {
          #submit {
            font-size: 10px;
          }
        }
      }
    }
  }

  .popupS-content {
    h2 {
      text-align: center;
      font-size: 30px;
      font-family: "Abril Fatface", cursive;
      padding: 30px;
      color: rgb(107, 106, 101);
    }
    p {
      font-size: 16px;
      font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
      margin-top: 10px;
    }
  }
  .popupS-layer {
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
    position: relative;
    border-radius: 6px;
    background-color: #fff;
    margin: 20px;
    z-index: 1000;
  }
  .popupS-resetFocus {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  .popupS-close {
    position: absolute;
    top: 0;
    right: 0;
    line-height: 40px;
    font-size: 32px;
    text-align: center;
    font-weight: 700;
    width: 32px;
    height: 40px;
    cursor: pointer;
    z-index: 1020;
  }
  .popupS-title {
    position: absolute;
    width: 100%;
    line-height: 40px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0 auto;
    z-index: 1001;
  }
  .popupS-title + .popupS-content {
    padding-bottom: 20px;
  }
  .popupS-content {
    max-width: 700px;
    padding: 40px;
    border-radius: 6px;
  }
  .popupS-content img {
    max-width: 100%;
    height: auto;
  }
  .popupS-layer .btn {
    float: right;
  }

  /*
 * Default Animation
 * very Important
 */

  .popupS-layer {
    -webkit-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    transition: opacity 0.3s;
    opacity: 0;
  }
  .popupS-overlay {
    -webkit-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
    background: rgb(0, 0, 0);
    opacity: 0;
  }
  .popupS-layer.popupS-open {
    opacity: 1;
  }
  .popupS-open > .popupS-overlay {
    opacity: 0.6;
  }
}
